.navitems{
    margin-right: 70px;
    margin-left: 70xp;
    size: 30px;
}

.navbar2text{
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}